<template>
  <div>
    <div class="sidebar-widget">
      <h2><i class="fas fa-align-justify"></i>Ads 1 column</h2>
      <div class="image">
        <a href=""><img src="https://www.beritabaku.com/wp-content/uploads/2021/08/Desain-tanpa-judul-1-1.jpg" alt="Image"></a>
      </div>
    </div>

    <div class="sidebar-widget">
      <h2><i class="fas fa-align-justify"></i>Ads 2 column</h2>
      <div class="image">
        <div class="row">
          <div class="col-sm-6">
            <a href=""><img src="https://binus.ac.id/malang/wp-content/uploads/2019/01/1.jpg" alt="Image"></a>
          </div>
          <div class="col-sm-6">
            <a href=""><img src="https://binus.ac.id/malang/wp-content/uploads/2019/01/1.jpg" alt="Image"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "SidebarAdvertisement"
}
</script>

<style scoped>

</style>
