<template>
  <div>
    <div class="sidebar">
      <div class="sidebar-widget">
        <h2><i class="fas fa-align-justify"></i>Kategori</h2>
        <div class="category">
          <ul class="fa-ul">
            <li v-for="(category, iCategory) in categories" :key="iCategory"><span class="fa-li"><i class="far fa-arrow-alt-circle-right"></i></span><NuxtLink :to="`/category/${category.slug}`">{{category.category_name}}</NuxtLink></li>
          </ul>
        </div>
      </div>

      <div class="sidebar-widget">
        <h2><i class="fas fa-align-justify"></i>Tags</h2>
        <div class="tags">
          <NuxtLink class="mr-1" :to="`tags/${tag.id}`" v-for="(tag, iTag) in tags" :key="iTag">{{tag.name}}</NuxtLink>
        </div>
      </div>

      <div class="sidebar-widget">
        <h2><i class="fas fa-align-justify"></i>E-Paper</h2>
        <div class="image">
          <img width="40%" height="300px" style="box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px, rgba(0, 0, 0, 0.19) 0px 6px 20px 0px;" :src="pdfLastUpdate.thumbnail" />
          <NuxtLink to="#" class="btn btn-success btn-sm mt-2 w-50">Baca Edisi Hari Ini</NuxtLink>
          <NuxtLink to="/pdf/news" class="btn btn-outline-secondary btn-sm mt-2 w-50">Baca Edisi Lainnya</NuxtLink>
        </div>
      </div>

      <SidebarAdvertisement />
    </div>
  </div>
</template>

<script>
export default {
  name: "SidebarRight",
  data() {
    return {
      categories: [],
      tags: [],
      pdfLastUpdate: {
        thumbnail: ""
      }
    }
  },
  methods: {
    getCategory: async function() {
      try {
        let req = await this.$api.get('category/menu?is_menu=false')
        this.categories = req.data.data
      } catch (e) {
        console.log(e)
      }
    },
    getLastPdfNewsPaper: async function() {
      try {
        let req = await this.$api2.get('koran/pdf/latest')
        this.pdfLastUpdate = req.data.data
        if (this.pdfLastUpdate.length > 0) this.pdfLastUpdate = this.pdfLastUpdate[0]
      } catch (e) {
        console.log(e)
      }
    },
    getTags: async function() {
      try {
        let req = await this.$api.get('tags?notPaginate')
        this.tags = req.data.data
      } catch (e) {
        console.log(e)
      }
    }
  },
  async mounted() {
    await this.getCategory()
    await this.getTags()
    await this.getLastPdfNewsPaper()
  }
}
</script>

<style scoped>

</style>
