<template>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <SidebarManageAccount />
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12 border my-5">
      </div>
    </div>
  </div>
</template>

<script>
export default {
  middleware: 'auth',
  name: "me"
}
</script>

<style scoped>

</style>
